## Read the three files into python as dataframes

In [18]:
import numpy as np
import pandas as pd


file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')

## Concatenate the three dataframes

In [19]:
df = pd.concat([file1,file2,file3], axis=0)


## Show the DataFrame's shape

In [20]:
file1.shape, file2.shape, file3.shape

((4008, 11), (996, 11), (7070, 11))

In [21]:
df.shape

(12074, 13)

## Standardize header names.

In [22]:
cols = []
for column in df.columns:
    cols.append(column.lower())
df.columns = cols

# # renaming columns
# df = df.rename(columns={'controln':'id',
#                             'hv1':'median_home_val', 
#                             'ic1':'median_household_income'})
df.head()

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,state,gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

## Rearrange the columns in the dataframe as needed

In [23]:
df = df.loc[:,~df.columns.duplicated()]
# Two ways to do it
df.drop(['state'], axis=1, inplace=True)
# del df['state']
df0 = df.rename(columns={'st':'state'})
df0

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

## Which columns are numerical and which ones are categorical?

In [24]:
df0.dtypes

# Numerical columns: income, monthly premium auto, total claim amount 
# Categorical columns: the rest

customer                      object
state                         object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

## Delete the column education and the number of open complaints from the dataframe.

In [25]:
df0.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [26]:
df0.drop(['education'], axis=1, inplace=True)
df0.drop(['number of open complaints'], axis=1, inplace=True)
df0

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

## Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [27]:
df0.columns

Index(['customer', 'state', 'gender', 'customer lifetime value', 'income',
       'monthly premium auto', 'policy type', 'vehicle class',
       'total claim amount'],
      dtype='object')

In [28]:
# We remove the & symbol
df0["customer lifetime value"] = df0["customer lifetime value"].str.replace('\%', '', regex=True)
# We transform the data from object to numeric in order to operate
df0['customer lifetime value'] =  pd.to_numeric(df0['customer lifetime value'], errors='coerce')

df0['customer lifetime value'] = list((map(lambda x: np.dot(x,100), df0['customer lifetime value'])))
df0

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,NaN,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,NaN,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,NaN,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,NaN,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,NaN,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

## Check for duplicate rows in the data and remove if any

In [29]:
df0.shape

(12074, 9)

In [30]:
df0.drop_duplicates(inplace=True)
df0.shape

(9135, 9)

## Filter out the data for customers who have an income of 0 or less

In [31]:
df0

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,NaN,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,NaN,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,NaN,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,NaN,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,NaN,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [32]:
df0.dtypes

customer                    object
state                       object
gender                      object
customer lifetime value    float64
income                     float64
monthly premium auto       float64
policy type                 object
vehicle class               object
total claim amount         float64
dtype: object

In [33]:
# df0 = df0.drop(df0['customer']<=0, inplace=False)
# df0.drop(df0[df0['customer'] <= 0].index, inplace=True)
df0['customer'] = list(map(lambda x: x.upper(), df0['customer']))
# df.drop(df[df['Fee'] >= 24000].index, inplace = True)

df0

AttributeError: 'float' object has no attribute 'upper'